VITE_API_URL=http://localhost:3001
VITE_MESSAGE_API_URL=http://localhost:3002
VITE_SOCIAL_API_URL=http://localhost:3004
VITE_CONVERSATION_API_URL=http://localhost:3005
VITE_GATEWAY_URL=http://localhost:4001
CDN_URL=http://127.0.0.1:9000
